.container {
  padding-top: 25px;
}

.container1 {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.item img {
  margin: auto;
}

.carousel-indicators {
  bottom: 0;
}

.carousel-indicators .active {
  background-color: #A16751;
}

.carousel-indicators li {
  border-color: #000000;
}

h2 {
  color: #A16751;
  text-align: center;
}

.col-sm-4 {
  padding-top: 50px;
  text-align: left;
}

.col-sm-4 p {
  color:#8E8E8E
}

.btn1 {
  float: right;
  margin-top: 30px;
}

h3 {
  font-weight: bold;
  text-shadow: 1px 1px #000000;
}

img {
  width: 100%;
}

.row1 {
  padding-top: 50px;
  text-align: center;

}
/*.button {
  margin: auto;

}*/
